.div-registro {
    /* Quitar el margin top en caso de que metamos mas content y no solo el formulario */
    margin: 0 auto;
    margin-top: 12rem;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    height: 25rem;
    padding: 1rem;
}


.btn-registro:hover {
    transform: scale(1.01);
}


