@import url('./components/cuerpo/cuerpo.css');
@import url('components/footer/footer.css');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* .div-pruebas{
  height: 100vh;
  background-image: url('assets/nnneon.svg');
  background-repeat: none;
  background-size: cover;
  background-position: center;
  position: fixed;
  width: 100%;
}
 */

svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: block;
  background-color: #000000;
  background-image: linear-gradient(90deg, rgba(0,75,255,1) 15%, rgba(90,176,255,1) 100%);
}

@media (max-width: 900px) {
  svg{
    height: 150%;
  }
  .div-registro {
      width: 100%;
      margin-top: 10rem;
  }
  .footer-text{
    width: 100%;
    margin-top: 150px;
  }
}

